*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
    
}

.game-container{
    width: 50%;
    margin: 0 auto;
    background-color: greenyellow;
    height: 100%;
}
.game-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 30;


}
/*playing section*/
.play-section{
    display: block;
    text-align: center;
    padding: 2rem;
}
.hand{
    margin: 2rem 0;
}
h2{
    text-transform: capitalize;
}
.emoji-box{
    border: black dotted;
    font-size: 6rem;
    padding: 2rem;
    margin-top: 1rem;
    display: inline-block;
}
.result{
    background-color: rgb(250, 204, 117);
    padding: 2rem 0;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    font-family:'Press Start 2P', monospace;

}
/*choosing an emoji*/
.emoji-buttons{
    justify-content: center;
    text-align: center;
    gap: 20px;
    display: flex;
    padding-bottom: 3rem;
}
.choice-button{
    font-size: 3rem;
    border-radius: 1rem;
    display: flex;
    background-color: white;
    border: none;
    flex-direction: column;
    gap: 0.5rem;
    height: 10rem;
    width: 10rem;
    align-items: center;
    font-family: 'Press Start 2P', cursive;

}
.choice-button .emoji {
    font-size: 3.5rem;
}

.choice-button .label {
    font-size: 1.3rem;
    margin-top: 0.5rem;
}



